.main_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
  .main_container_data,
  .main_container_image {
    height: 100%;
    width: 100%;
  }
  .main_container_data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .main_container_data_title {
      width: 90%;
      font-weight: 700;
      font-size: 50px;
      line-height: 87px;
      letter-spacing: -4.5px;
      text-align: center;
    }
    .main_container_data_info {
      width: 90%;
      font-weight: 400;
      font-size: 21px;
      line-height: 30px;
      letter-spacing: -0.8px;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 22px;
      text-align: center;
    }
    .main_container_data_buttons {
      width: 90%;
      display: flex;
      justify-content: center;
      color: white;
      margin: 44px 0;
      div {
        display: grid;
        place-items: center;
      }
      .main_button_getStarted {
        height: 49px;
        gap: 10px;
        width: 121px;
        background: #5f62e2;
        border-radius: 10px;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
      .main_button_learnMore {
        width: 119px;
        height: 49px;
        background: rgba(95, 98, 226, 0.15);
        border-radius: 10px;
        color: #5f62e2;
        margin-left: 11px;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
  .main_container_image {
    display: grid;
    place-items: center;
    .image {
      width: 90%;
      img {
        width: 90%;
      }
    }
  }
}

@media screen and (min-width: 712px) and (max-width: 1299px) {
  .main_container_data_title {
    width: 642px !important;
    font-size: 72px !important;
  }
  .main_container_image {
    width: 50% !important;
  }
}

@media screen and (min-width: 1300px) {
  .main_container {
    height: 600px;
    flex-direction: row;
    .main_container_data {
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 106px;

      .main_container_data_title {
        font-size: 72px;
        text-align: left;
        margin-left: 120px;
      }
      .main_container_data_info {
        margin-left: 120px;
        width: 448px;
        text-align: left;
      }
      .main_container_data_buttons {
        justify-content: flex-start;
        font-weight: 500;
        div {
          margin-left: 120px;
        }
      }
    }
    .main_container_image {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-top: 53px;
      .image {
        width: 502px;
        img {
          width: 90%;
        }
      }
    }
  }
}
